[submodule "dewi-boatd-driver"]
	path = dewi-boatd-driver
	url = https://github.com/abersailbot/dewi-boatd-driver.git
[submodule "dewi-behaviour"]
	path = dewi-behaviour
	url = https://github.com/abersailbot/dewi-behaviour.git
[submodule "dewi-arduino"]
	path = dewi-arduino
	url = https://github.com/abersailbot/dewi-arduino.git
[submodule "boatd"]
	path = boatd
	url = https://github.com/abersailbot/boatd
[submodule "dewi-hardware"]
	path = dewi-hardware
	url = https://github.com/abersailbot/dewi-hardware.git
[submodule "python-boatd"]
	path = python-boatd
	url = https://github.com/boatd/python-boatd.git
[submodule "dewi-deploy"]
	path = dewi-deploy
	url = https://github.com/abersailbot/dewi-deploy.git
