[submodule "dewi-boatd-driver"]
	path = dewi-boatd-driver
	url = https://github.com/abersailbot/dewi-boatd-driver
[submodule "dewi-behaviour"]
	path = dewi-behaviour
	url = https://github.com/abersailbot/dewi-behaviour
[submodule "dewi-arduino"]
	path = dewi-arduino
	url = https://github.com/abersailbot/dewi-arduino
[submodule "boatd"]
	path = boatd
	url = https://github.com/boatd/boatd
[submodule "dewi-hardware"]
	path = dewi-hardware
	url = https://github.com/abersailbot/dewi-hardware.git
[submodule "python-boatd"]
	path = python-boatd
	url = https://github.com/boatd/python-boatd.git
